@import url("bootstrap/dist/css/bootstrap.min.css");
body {
  min-height: 100dvh;
  padding-top: 3.6dvh;
  padding-bottom: 3.6dvh;
  font-family: "Roboto";
  width: 100dvw;
  max-width: 100dvw;
  overflow-x: hidden;
}
nav {
  margin-bottom: 2dvh !important;
  background-color: #a2cb8b !important;
  z-index: 99;
}
.text-rpl {
  color: #134074;
}
.bg-rpl {
  background-color: #134074;
  color: #fff;
}
.border-rpl {
  border: 1px solid #134074;
  /* color: #134074; */
}
.btn-rpl {
  background-color: #134074;
  color: #fff;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-rpl:hover {
  background-color: #134074;
  color: #fff;
  opacity: 0.75;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fixedCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroImage {
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 80dvh;
  background-image: url("../src/assets/images/image1.JPG");
  background-size: cover;
  background-position: center;
}
.heroBanner {
  background-color: rgba(162, 203, 139, 0.8);
  backdrop-filter: blur(4px);
  padding-left: 10dvh;
}
.heroBanner p {
  margin: 0;
  font-size: 16dvh;
}
.descBox {
  margin-top: 16dvh !important;
  margin-bottom: 16dvh !important;
}
.descBox p {
  text-align: justify;
}

.descBoxRpl {
  margin-top: 16dvh !important;
  margin-bottom: 16dvh !important;
  /* color: #134074; */
  background-color: #134074;
  /* background-color: #E8F5BD; */
}
.btnClipboard {
  background-color: #a2cb8b;
  /* color: ; */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btnClipboard:hover {
  background-color: #a2cb8b;
  /* color: white; */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.7;
}
.features .btn {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.features .btn:hover {
  background-color: #a2cb8b;
  color: white;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.aboutImage {
  aspect-ratio: 18/9;
  object-fit: cover;
}
.smallAboutImage {
  aspect-ratio: 1/1;
  object-fit: cover;
}
/* .descBoxRpl button{
}
.descBoxRpl button:hover{
    background-color: #134074;
    opacity: .75;
} */
.gallery {
  image-rendering: optimizeSpeed;
}
.igBox {
  border: 2px solid transparent;
  border-radius: 1rem;
  background-image:
    linear-gradient(white, white),linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.instagram {
  color: white;
  width: 6.4dvh;
  height: 6.4dvh;
  background: #833ab4;
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
}
footer {
  color: #a2cb8b;
  background-color: #000;
  margin-bottom: -6.4dvh;
}
@media (max-width: 720px) {
  .fs-6 {
    font-size: 0.72rem !important;
  }
  .fs-5 {
    font-size: 0.8rem !important;
  }
  .fs-4 {
    font-size: 1rem !important;
  }
  .fs-3 {
    font-size: 1.2rem !important;
  }
}
