@import url('bootstrap/dist/css/bootstrap.min.css');
body{
    min-height: 100dvh;
    padding-top: 10dvh;
}
nav{
    margin-bottom: 4dvh;
}
.fixedCenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}